.toppadding {
    padding-top: 35px;
}

.inputModForSearchBox {
    height: 50px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #00457d;
    color: black;
}

.quickFiltersDiv{
    margin-top: 10px;
    margin-bottom: 10px;
    /*to remove, just for tests
    border: 1px dashed black;*/
}

.quickFilterSpan{
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    margin:5px;
}

ul {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

li {
    display: inline !important;
    border: 1px dashed #00457d;
    cursor: pointer;
    border-radius: 5px;
    color: #00457e;
    margin-right: 5px;
}

.active{
    color: white !important;
}