<div id="app-modal-content">  
  <div class="modal-header">
    <h4 class="modal-title pull-left">Product Details</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="container" *ngIf="product">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    <label for="productname">Name</label>
                    <input type="text" class="form-control" id="productname" aria-describedby="Name" placeholder="product name" [(ngModel)]="product.name">
                </div>
                <div class="form-group">
                    <label for="productcategory">Category</label>
                    <select id="productcategory" class="form-control" (change)="categorySelectChanged($event.target.value)">
                        <option *ngFor="let c of getCategoryList()" 
                        [value]="c.id" 
                        [attr.selected]="c.id==product.category.id ? true : null">{{c.name}}</option>
                    </select>
                </div>
                <div>
                    <app-spinner (spinnerchanged)="spinnerchanged($event)" [label]="'Quantity'" 
                    [numb]="product.quantity"           [other]="'quantity'" [inputdisabled]="true"></app-spinner>   
                </div>
                <div>                    
                    <app-spinner (spinnerchanged)="spinnerchanged($event)" [label]="'Shortage qty. warning'" 
                    [numb]="product.shortageQtyWarning" [other]="'shortage'" [inputdisabled]="true"></app-spinner>
                </div>
                <div class="form-check">
                    <input class="form-check-input cursorPointer" type="checkbox" id="activeCheckbox" [(ngModel)]="product.active">
                    <label class="form-check-label" for="activeCheckbox">
                        Active
                    </label>
                </div>       
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">   
                <div class="col-xs-6">
                    <button type="button" *ngIf="!isnew" class="btn btn-danger modalButtonDivFloatLeft" (click)="delete()">Delete</button>
                </div>  
                <div class="col-xs-6">
                    <button type="button" class="btn btn-primary modalButtonDivFloatRight" (click)="save()">Save</button>
                </div>                     
            </div> 
        </div>
      </div>
    </div>
  </div>
</div>
