<div id="app-modal-content">  
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div *ngIf="componentProduct">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                        <label for="productname">Name</label>
                        <input type="text" class="form-control" id="productname" aria-describedby="Name" placeholder="product name" [(ngModel)]="componentProduct.name" readonly>
                </div>
                <div class="form-group">
                    <label for="productcategory">Category</label>
                    <select id="productcategory" class="form-control"><!--[(ngModel)]="componentProduct.category.name"-->
                        <option *ngFor="let c of getCategoryList()" 
                        [value]="c.name" 
                        [attr.selected]="c.id==componentProduct.category.id ? true : null">{{c.name}}</option>
                    </select>
                </div>
                <div>
                    <app-spinner [label]="'Quantity'" [numb]="componentProduct.quantity" [inputdisabled]="true"></app-spinner>   
                </div>
                <div>                    
                    <app-spinner [label]="'Shortage qty. warning'" [numb]="componentProduct.shortageQtyWarning" [inputdisabled]="true"></app-spinner>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="activeCheckbox" [(ngModel)]="componentProduct.active">
                    <label class="form-check-label" for="activeCheckbox">
                        Active
                    </label>
                </div>         
              <span (click)="save()">save</span>
              <span (click)="delete()">delete</span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
