<div id="app-modal-content">  
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Stock</th>
                    <th scope="col">Product</th>
                    <th scope="col">to buy</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of neededProductList">
                    <th scope="row">{{ p.quantity }}</th>
                    <td>{{ p.name }}</td>
                    <td>
                      <app-spinner (spinnerchanged)="spinnerchanged($event)" [label]="" 
                      [numb]="p.predictToBuy" [other]="{id:p.id, prop:'predictToBuy'}" [inputdisabled]="true"></app-spinner>
                    </td>
                  </tr>                 
                </tbody>
              </table>
              <div class="col-xs-6">
                <button type="button" class="btn btn-primary buttonsFloatLeft"><i class="fas fa-file-pdf"></i></button>
                <button type="button" class="btn btn-primary btn-success buttonsFloatRight" (click)="confirmShoppingListBuy()"><i class="fas fa-cart-plus"></i></button>               
              </div>    
            </div>
        </div>
      </div>
    </div>
  </div>
</div>