.borderthis {
    border: 2px solid rgb(0, 69, 126) !important;
    border-radius: 0.8em;
}

.listmargins {
    margin: 20px;
    margin-top: 2px;
}

.listwidth {
    width: 100%;
}

.buttonDivFloatLeft {
    float: left;
}

.buttonDivFloatRight {
    float: right;
}

.buttonRightSeperation{
    margin-right: 5px;
}

.buttonLeftSeperation{
    margin-left: 5px;
}

.thickerFont {
    font-weight: bold;
}

.fontsizebigger {
    font-size: 30px;
}

.productCard {
    max-width: 18rem; 
    max-height: 18rem;
    width: 18rem; 
    height: 18rem;
    float: left;
    margin: 10px;
}

.productCard .card-header {
    max-height: 49px;
    clear: both;
    padding: 5px;
}

.productCard .card-body {
    height: 100px;
    text-overflow: ellipsis;
}

.productCardHeaderTitle {
    max-height: 25px;
    float: left;
    width: 70%;
    word-break: break-all;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow-y: hidden;
    line-height: 28px;
    padding-left: 10px;
}

.productCardHeaderButton {
    float: right;
    width: 10%;
}

.productCardHeaderButton button {
    line-height: 14px;
    font-size: 14px;
}

.stylishFont {
    font-size: 25px;
    font-family: cursive;
}