<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">   
        <div class="col-xs-4">
            <button type="button" class="btn btn-danger buttonDivFloatRight buttonRightSeperation thickerFont" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="removeProductButtonVisibleToggle()"><i class="far fa-trash-alt"></i></button>
        </div>  
        <div class="col-xs-4">
            <button type="button" class="btn btn-success buttonDivFloatRight buttonRightSeperation thickerFont" (click)="addNewProduct()"><i class="far fa-plus-square"></i></button>
        </div>         
        <div class="col-xs-4">
            <button type="button" class="btn btn-primary buttonDivFloatRight buttonRightSeperation">shopping list</button>
        </div>          
        <div class="col-xs-4">
            <span class="buttonDivFloatLeft buttonLeftSeperation fontsizebigger">Product List</span>
        </div>           
    </div>
  </div>
</div>
<div class="borderthis listmargins">
  <div class="container-fluid">
    <div class="row">
      <div class="">
          <div class="card productCard" *ngFor="let p of componentProductList">
            <div class="card-header">
              <div class="productCardHeaderTitle">
                {{p.name}}
              </div>
              <div class="productCardHeaderButton">             
                  <button type="button" class="btn btn-xs btn-primary buttonDivFloatRight thickerFont" style="max-width:37.75px" *ngIf="!removeProductBtnVisible"
                   (click)="productDetails(p.id)"><i class="far fa-edit"></i></button>
                </div>
              <div class="productCardHeaderButton">
                <button type="button" class="btn btn-xs btn-danger buttonDivFloatRight thickerFont" *ngIf="removeProductBtnVisible"
                  (click)="removeProduct(p.id)"><i class="far fa-trash-alt"></i></button>
              </div> 
            </div>
            <div class="card-body">
            </div>
            <div class="card-footer">
              <div class="buttonDivFloatLeft" style="width:33%; text-align:left;">
                <button type="button" class="btn btn-light thickerFont" (click)="alterProductQty('subtract',p.id)"><i class="fas fa-minus"></i></button>
              </div>  
              <div class="buttonDivFloatLeft" style="width:30%; text-align:center; font-size: 25px;">
                  <span>{{p.quantity}}</span>
              </div>         
              <div class="buttonDivFloatRight" style="width:33%; text-align:right;">                
                <button type="button" class="btn btn-light thickerFont" (click)="alterProductQty('add',p.id)"><i class="fas fa-plus"></i></button>
              </div>  
            </div>
          </div>
      </div>
    </div>
  </div>
</div>


